In [7]:
!pip install gspread

Requirement already satisfied: gspread in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (6.1.4)
Requirement already satisfied: google-auth>=1.12.0 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from gspread) (2.37.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from gspread) (1.2.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from google-auth>=1.12.0->gspread) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from google-auth>=1.12.0->gspread) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ngocp/Documents/projects/dev-sql/.venv/lib/python3.12/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2024.12.14)

In [8]:
import gspread
 
# define the scope
scopes = ['https://www.googleapis.com/auth/drive', 'https://www.googleapis.com/auth/spreadsheets']
client = gspread.service_account('./secret/questioniso-0207dbbf89c0.json', scopes=scopes)

In [9]:
# client = gspread.authorize(creds)
gsheet_id = '1j84wJRX7xoszkF0B_BFIe_XdNEuL0MvlnoHfI5ardgY'
spreadsheet = client.open_by_key(gsheet_id)
# sheet = client.open_by_key(gsheet_id).Sheet1

In [10]:
# List all sheets
sheets = spreadsheet.worksheets()

# Loop through each sheet
for sheet in sheets:
    print(f"Sheet title: {sheet.title}")
    
    # Get the values in the range F12:F50
    cell_range = sheet.range("F12:F50")
    
    # Loop through each cell in the range
    for cell in cell_range:
        print(f"Row {cell.row}, Column {cell.col}: {cell.value}")

Sheet title: History of changes
Row 12, Column 6:
Row 13, Column 6:
Row 14, Column 6:
Row 15, Column 6:
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: DBテーブル一覧
Row 12, Column 6:
Row 13, Column 6:
Row 14, Column 6:
Row 15, Column 6:
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: ER Diagram
Row 12, Column 6:
Row 13, Column 6:
Row 14, Column 6:
Row 15, Column 6:
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: Table_name
Row 12, Column 6:
Row 13, Column 6:
Row 14, Column 6:
Row 15, Column 6:
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: users
Row 12, Column 6: id
Row 13, Column 6: maritimeId
Row 14, Column 6: last_name
Row 15, Column 6: first_name
Row 16, Column 6: last_name_furigana
Row 17, Column 6: first_name_furigana
Row 18, Column 6: email
Row 19, Column 6: address
Row 20, Column 6: date_of_birth
Row 21, Column 6: ship_owner
Row 22, Column 6: position
Row 23, Column 6: address
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: master_options
Row 12, Column 6: id
Row 13, Column 6: type
Row 14, Column 6: field_label
Row 15, Column 6: field_key
Row 16, Column 6: field_type
Row 17, Column 6: value_default
Row 18, Column 6: is_attachment
Row 19, Column 6: is_public
Row 20, Column 6: notification_id
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: user_options
Row 12, Column 6: id
Row 13, Column 6: user_id
Row 14, Column 6: master_option_id
Row 15, Column 6: value
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: members
Row 12, Column 6: id
Row 13, Column 6: name
Row 14, Column 6: email
Row 15, Column 6: authority_id
Row 16, Column 6: created_at
Row 17, Column 6: updated_at
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: authority
Row 12, Column 6: id
Row 13, Column 6: name
Row 14, Column 6: created_at
Row 15, Column 6: updated_at
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: ship_labor_boardings
Row 12, Column 6: id
Row 13, Column 6: organization_id
Row 14, Column 6: ship_id
Row 15, Column 6: ship_sailor_id
Row 16, Column 6: boarding_at
Row 17, Column 6: disembark_at
Row 18, Column 6: created_at
Row 19, Column 6: updated_at
Row 20, Column 6: boarding_port
Row 21, Column 6: disembark_port
Row 22, Column 6: modify_name
Row 23, Column 6: is_deleted
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: ships
Row 12, Column 6: id
Row 13, Column 6: organization_id
Row 14, Column 6: user_id
Row 15, Column 6: voyage_no
Row 16, Column 6: code
Row 17, Column 6: currency
Row 18, Column 6: imo
Row 19, Column 6: country
Row 20, Column 6: name
Row 21, Column 6: type
Row 22, Column 6: ship_builder
Row 23, Column 6: hull_no
Row 24, Column 6: max_engine_rpm
Row 25, Column 6: max_speed
Row 26, Column 6: max_lsmgo
Row 27, Column 6: max_lsof
Row 28, Column 6: max_fresh_water
Row 29, Column 6: max_capacity
Row 30, Column 6: limit_account
Row 31, Column 6: used_account
Row 32, Column 6: created_at
Row 33, Column 6: updated_at
Row 34, Column 6: record_period
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: ship_labor_holidays
Row 12, Column 6: id
Row 13, Column 6: ship_sailor_id
Row 14, Column 6: attendance_at
Row 15, Column 6: holiday
Row 16, Column 6: holiday_type
Row 17, Column 6: holiday_count
Row 18, Column 6: created_at
Row 19, Column 6: updated_at
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: ship_labor_works
Row 12, Column 6: id
Row 13, Column 6: organization_id
Row 14, Column 6: name
Row 15, Column 6: background
Row 16, Column 6: is_default
Row 17, Column 6: is_deleted
Row 18, Column 6: is_lock
Row 19, Column 6: is_rest
Row 20, Column 6: is_work
Row 21, Column 6: is_nightwork
Row 22, Column 6: is_salary
Row 23, Column 6: sort_num
Row 24, Column 6: created_at
Row 25, Column 6: updated_at
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: ship_sailor
Row 12, Column 6: id
Row 13, Column 6: organization_id
Row 14, Column 6: user_id
Row 15, Column 6: ship_labor_work_id
Row 16, Column 6: attendanced_at
Row 17, Column 6: created_at
Row 18, Column 6: updated_at
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: sessions
Row 12, Column 6: token_id
Row 13, Column 6: user_id
Row 14, Column 6: token
Row 15, Column 6: issued_at
Row 16, Column 6: expires_at
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: organizations
Row 12, Column 6: id
Row 13, Column 6: code
Row 14, Column 6: country
Row 15, Column 6: industry
Row 16, Column 6: name_ja
Row 17, Column 6: name_en
Row 18, Column 6: postal
Row 19, Column 6: address
Row 20, Column 6: url
Row 21, Column 6: tel
Row 22, Column 6: email
Row 23, Column 6: logo_image
Row 24, Column 6: is_labor
Row 25, Column 6: is_traffic
Row 26, Column 6: is_ordering
Row 27, Column 6: is_report
Row 28, Column 6: created_at
Row 29, Column 6: updated_at
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: notifications
Row 12, Column 6: id
Row 13, Column 6: distance_time
Row 14, Column 6: content
Row 15, Column 6:
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: member_organization
Row 12, Column 6: id
Row 13, Column 6: member_id
Row 14, Column 6: organization_id
Row 15, Column 6:
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: certificate
Row 12, Column 6: id
Row 13, Column 6: type
Row 14, Column 6: name
Row 15, Column 6: expiry_date
Row 16, Column 6: issue_date
Row 17, Column 6: delivery_date
Row 18, Column 6: pdf_attachment
Row 19, Column 6: created_at
Row 20, Column 6: updated_at
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: user_certificate
Row 12, Column 6: id
Row 13, Column 6: hash
Row 14, Column 6: user_id
Row 15, Column 6: created_at
Row 16, Column 6: created_by
Row 17, Column 6: updated_at
Row 18, Column 6: updated_by
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: training
Row 12, Column 6: id
Row 13, Column 6: user_id
Row 14, Column 6: type
Row 15, Column 6: name
Row 16, Column 6: result
Row 17, Column 6: start_date
Row 18, Column 6: end_date
Row 19, Column 6: expiry_date
Row 20, Column 6: remarks
Row 21, Column 6: file_path
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: user_training
Row 12, Column 6: id
Row 13, Column 6: user_id
Row 14, Column 6: training_id
Row 15, Column 6:
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: SampleUser_Table
Row 12, Column 6: user_id
Row 13, Column 6: role_id
Row 14, Column 6: user_name
Row 15, Column 6: password
Row 16, Column 6: email
Row 17, Column 6: department
Row 18, Column 6: created_at
Row 19, Column 6: updated_at
Row 20, Column 6: deleted_at
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:
Sheet title: Appendix
Row 12, Column 6: 9
Row 13, Column 6: 10
Row 14, Column 6:
Row 15, Column 6:
Row 16, Column 6:
Row 17, Column 6:
Row 18, Column 6:
Row 19, Column 6:
Row 20, Column 6:
Row 21, Column 6:
Row 22, Column 6:
Row 23, Column 6:
Row 24, Column 6:
Row 25, Column 6:
Row 26, Column 6:
Row 27, Column 6:
Row 28, Column 6:
Row 29, Column 6:
Row 30, Column 6:
Row 31, Column 6:
Row 32, Column 6:
Row 33, Column 6:
Row 34, Column 6:
Row 35, Column 6:
Row 36, Column 6:
Row 37, Column 6:
Row 38, Column 6:
Row 39, Column 6:
Row 40, Column 6:
Row 41, Column 6:
Row 42, Column 6:
Row 43, Column 6:
Row 44, Column 6:
Row 45, Column 6:
Row 46, Column 6:
Row 47, Column 6:
Row 48, Column 6:
Row 49, Column 6:
Row 50, Column 6:

In [113]:
import pandas as pd
sheets = spreadsheet.worksheets()
# print(sheets)

sheet_by_name = spreadsheet.worksheet('members')
print(sheet_by_name)

<Worksheet 'members' id:1847736165>

In [12]:
sheet_members = sheets[7]

In [13]:
df_members = pd.DataFrame(sheet_members.get_all_records(expected_headers=[]))

In [14]:
print(df_members.head())

                     Database Design                   No: BM-2-901-50
0                                                          Version: 01
1                                               Issue Date: 07/07/2021
2                                     ISO/IEC 27001:2013&ISO 9001:2015
3  作成日\nCreated date
4       作成者\nCreator

In [23]:
val = sheet_members.get('F12:F20')
print(val)

[['id'], ['name'], ['email'], ['authority_id'], ['created_at'], ['updated_at']]

In [125]:
# https://python.langchain.com/docs/how_to/query_multiple_queries/

from langchain_core.output_parsers.openai_tools import PydanticToolsParser
from langchain_openai import ChatOpenAI
from langchain.chains import create_sql_query_chain
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.runnables import RunnablePassthrough
from langchain_community.utilities import SQLDatabase
from typing import List, Optional
from pydantic import BaseModel, Field
from enum import Enum
from langchain_core.tools import tool
from langchain.agents import AgentExecutor, create_tool_calling_agent
from langchain_core.prompts import ChatPromptTemplate

llm = ChatOpenAI(model="gpt-4o")

In [126]:
class MySQLDataType(str, Enum):
    CHAR = "CHAR"
    VARCHAR = "VARCHAR"
    BINARY = "BINARY"
    VARBINARY = "VARBINARY"
    TINYBLOB = "TINYBLOB"
    BLOB = "BLOB"
    MEDIUMBLOB = "MEDIUMBLOB"
    LONGBLOB = "LONGBLOB"
    TINYTEXT = "TINYTEXT"
    TEXT = "TEXT"
    MEDIUMTEXT = "MEDIUMTEXT"
    LONGTEXT = "LONGTEXT"
    ENUM = "ENUM"
    SET = "SET"
    BIT = "BIT"
    TINYINT = "TINYINT"
    BOOL = "BOOL"
    BOOLEAN = "BOOLEAN"
    SMALLINT = "SMALLINT"
    MEDIUMINT = "MEDIUMINT"
    INT = "INT"
    INTEGER = "INTEGER"
    BIGINT = "BIGINT"
    FLOAT = "FLOAT"
    DOUBLE = "DOUBLE"
    DECIMAL = "DECIMAL"
    DATE = "DATE"
    DATETIME = "DATETIME"
    TIMESTAMP = "TIMESTAMP"
    TIME = "TIME"
    YEAR = "YEAR"
    GEOMETRY = "GEOMETRY"
    POINT = "POINT"
    LINESTRING = "LINESTRING"
    POLYGON = "POLYGON"
    MULTIPOINT = "MULTIPOINT"
    MULTILINESTRING = "MULTILINESTRING"
    MULTIPOLYGON = "MULTIPOLYGON"
    GEOMETRYCOLLECTION = "GEOMETRYCOLLECTION"

class ColumnType(BaseModel):
    """ most relavance MySQL data type for the given column """
    column_type: MySQLDataType = Field(
        description="most relavance MySQL data type",
    )
    column_name: str = Field(
        description="Column name",
    )

@tool
def suggest_data_type(value: str) -> ColumnType:
    """Suggests the most appropriate MySQL data type for the given column name."""
    system = "You are an expert in database design. Suggest the most appropriate MySQL data type for the given column name based on its name and typical usage in an ERD table structure."
    prompt = ChatPromptTemplate.from_messages(
        [
            ("system", system),
            ("human", f"Column name: {value}")
        ]
    )
    structured_llm = llm.with_structured_output(ColumnType)
    chain = {"input": RunnablePassthrough()} | prompt | structured_llm

    prompt_value = chain.invoke({"input": value})
    return prompt_value

In [111]:
# for t in val:
#     print(t)
#     print(extract_data_type(t[0]))
#     # print(think(t[0]))
# # sheet_members.update_acell('B1', 'Bingo!')

['id']
column_type=<MySQLDataType.INT: 'INT'> column_name='id'
['name']
column_type=<MySQLDataType.VARCHAR: 'VARCHAR'> column_name='name'
['email']
column_type=<MySQLDataType.VARCHAR: 'VARCHAR'> column_name='email'
['authority_id']
column_type=<MySQLDataType.INT: 'INT'> column_name='authority_id'
['created_at']
column_type=<MySQLDataType.DATETIME: 'DATETIME'> column_name='created_at'
['updated_at']
column_type=<MySQLDataType.DATETIME: 'DATETIME'> column_name='updated_at'

In [119]:


@tool
def read_cell(sheet_name: str, cell: str) -> str:
    """Reads the value from the specified cell in A1 notation and sheet name."""
    return spreadsheet.worksheet(sheet_name).acell(cell).value

@tool
def write_cell(sheet_name: str, cell: str, value: str) -> None:
    """Writes the value to the specified cell in A1 notation and sheet name."""
    spreadsheet.worksheet(sheet_name).update_acell(cell, value)

@tool
def read_values(sheet_name: str, range: str) -> List[List[str]]:
    """Reads the values from the specified range in A1 notation and sheet name."""
    return spreadsheet.worksheet(sheet_name).get(range)

@tool
def write_values(sheet_name: str, range: str, values: List[List[str]]) -> None:
    """Writes the values to the specified range in A1 notation and sheet name."""
    spreadsheet.worksheet(sheet_name).update(range, values)

prompt = ChatPromptTemplate.from_messages(
    [
        ("system", "You are a helpful assistant specialized in interacting with Google Sheets. Respond to the user's queries and commands."),
        ("human", "{input}"),
        # Placeholders fill up a **list** of messages
        ("placeholder", "{agent_scratchpad}"),
    ]
)



tools = [read_cell, write_cell, read_values, write_values, suggest_data_type]

agent = create_tool_calling_agent(llm, tools, prompt)

agent_executor = AgentExecutor(agent=agent, tools=tools)

In [120]:
query = "Get value from cell with range [F12:F20] in the sheet named 'members'"
agent_executor.invoke({"input": query})

{'input': "Get value from cell with range [F12:F20] in the sheet named 'members'",
 'output': "The values from the range F12:F20 in the 'members' sheet are as follows:\n\n- F12: id\n- F13: name\n- F14: email\n- F15: authority_id\n- F16: created_at\n- F17: updated_at"}

In [121]:
query = """
Get value from cell with range [F12:F20] in the sheet named 'members',
each value should be converted to the most appropriate MySQL data type and fill the result
in the G{same row index}.G{same row index} cell in the same sheet.
Ex: F12 value is 'user_name', the G12 cell should be filled with 'VARCHAR'.
"""

agent_executor.invoke({"input": query})

/var/folders/g6/37kt02914kx36yzcbbqfyck00000gn/T/ipykernel_34454/3244738919.py:24: DeprecationWarning: The order of arguments in worksheet.update() has changed. Please pass values first and range_name secondor used named arguments (range_name=, values=)
  spreadsheet.worksheet(sheet_name).update(range, values)

{'input': "\nGet value from cell with range [F12:F20] in the sheet named 'members',\neach value should be converted to the most appropriate MySQL data type and fill the result\nin the G{same row index}.G{same row index} cell in the same sheet.\nEx: F12 value is 'user_name', the G12 cell should be filled with 'VARCHAR'.\n",
 'output': 'The values from cells F12 to F20 in the "members" sheet have been converted to the appropriate MySQL data types and filled in the corresponding G column cells as follows:\n\n- F12 (id) -> G12 (INT)\n- F13 (name) -> G13 (VARCHAR)\n- F14 (email) -> G14 (VARCHAR)\n- F15 (authority_id) -> G15 (INT)\n- F16 (created_at) -> G16 (DATETIME)\n- F17 (updated_at) -> G17 (TIMESTAMP)'}

In [122]:
from langgraph.checkpoint.memory import MemorySaver

memory = MemorySaver()

# Define the graph

from langgraph.prebuilt import create_react_agent

graph = create_react_agent(llm, tools=tools, checkpointer=memory)

In [123]:
config = {"configurable": {"thread_id": "1"}}
inputs = {"messages": [("user", query)]}

graph.invoke(inputs, config=config)

/var/folders/g6/37kt02914kx36yzcbbqfyck00000gn/T/ipykernel_34454/3244738919.py:24: DeprecationWarning: The order of arguments in worksheet.update() has changed. Please pass values first and range_name secondor used named arguments (range_name=, values=)
  spreadsheet.worksheet(sheet_name).update(range, values)

{'messages': [HumanMessage(content="\nGet value from cell with range [F12:F20] in the sheet named 'members',\neach value should be converted to the most appropriate MySQL data type and fill the result\nin the G{same row index}.G{same row index} cell in the same sheet.\nEx: F12 value is 'user_name', the G12 cell should be filled with 'VARCHAR'.\n", additional_kwargs={}, response_metadata={}, id='b982eb20-44d0-4ecd-9243-31cab24085a3'),
  AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_Ryw8E3I89Mp99PQGdmkMrcVX', 'function': {'arguments': '{"range":"F12:F20","sheet_name":"members"}', 'name': 'read_values'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 23, 'prompt_tokens': 277, 'total_tokens': 300, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-563f2ca6-e70d-4092-ac4a-1611f28f4c00-0', tool_calls=[{'name': 'read_values', 'args': {'range': 'F12:F20', 'sheet_name': 'members'}, 'id': 'call_Ryw8E3I89Mp99PQGdmkMrcVX', 'type': 'tool_call'}], usage_metadata={'input_tokens': 277, 'output_tokens': 23, 'total_tokens': 300, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  ToolMessage(content='[["id"], ["name"], ["email"], ["authority_id"], ["created_at"], ["updated_at"]]', name='read_values', id='aa5cd29a-02d2-481d-a2c1-a0802985ce02', tool_call_id='call_Ryw8E3I89Mp99PQGdmkMrcVX'),
  AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_SXH8eE2us6BksV53C0U9ORuL', 'function': {'arguments': '{"value": "id"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_kWxl912fUSjGJ0LTrZsRECxB', 'function': {'arguments': '{"value": "name"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_CvLG5wRJ895yN4UQeCMfhJBC', 'function': {'arguments': '{"value": "email"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_6L7lXJakK3fwnDMZkxIVPF5s', 'function': {'arguments': '{"value": "authority_id"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_5Z0ZPdWPKDSSgyQBUU4Pns84', 'function': {'arguments': '{"value": "created_at"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_Xy1cM4Af2bd7ViBmJlvhYd7Z', 'function': {'arguments': '{"value": "updated_at"}', 'name': 'suggest_data_type'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 116, 'prompt_tokens': 329, 'total_tokens': 445, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-aa41a7e8-50d0-44e7-b1d4-4992ab1018f9-0', tool_calls=[{'name': 'suggest_data_type', 'args': {'value': 'id'}, 'id': 'call_SXH8eE2us6BksV53C0U9ORuL', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'name'}, 'id': 'call_kWxl912fUSjGJ0LTrZsRECxB', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'email'}, 'id': 'call_CvLG5wRJ895yN4UQeCMfhJBC', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'authority_id'}, 'id': 'call_6L7lXJakK3fwnDMZkxIVPF5s', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'created_at'}, 'id': 'call_5Z0ZPdWPKDSSgyQBUU4Pns84', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'updated_at'}, 'id': 'call_Xy1cM4Af2bd7ViBmJlvhYd7Z', 'type': 'tool_call'}], usage_metadata={'input_tokens': 329, 'output_tokens': 116, 'total_tokens': 445, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  ToolMessage(content="column_type=<MySQLDataType.INT: 'INT'> column_name='id'", name='suggest_data_type', id='103d2360-bc99-4c6b-bef0-84605aeb01b6', tool_call_id='call_SXH8eE2us6BksV53C0U9ORuL'),
  ToolMessage(content="column_type=<MySQLDataType.VARCHAR: 'VARCHAR'> column_name='name'", name='suggest_data_type', id='e2e1566f-a990-4091-9f16-e7de047e0d75', tool_call_id='call_kWxl912fUSjGJ0LTrZsRECxB'),
  ToolMessage(content="column_type=<MySQLDataType.VARCHAR: 'VARCHAR'> column_name='email'", name='suggest_data_type', id='fa94046c-702d-4292-bff1-31b58991dc4d', tool_call_id='call_CvLG5wRJ895yN4UQeCMfhJBC'),
  ToolMessage(content="column_type=<MySQLDataType.INT: 'INT'> column_name='authority_id'", name='suggest_data_type', id='234332c4-bf27-4562-89d2-7edb4cfbb77b', tool_call_id='call_6L7lXJakK3fwnDMZkxIVPF5s'),
  ToolMessage(content="column_type=<MySQLDataType.DATETIME: 'DATETIME'> column_name='created_at'", name='suggest_data_type', id='00512b3b-3552-452b-bca2-e133fce400b0', tool_call_id='call_5Z0ZPdWPKDSSgyQBUU4Pns84'),
  ToolMessage(content="column_type=<MySQLDataType.DATETIME: 'DATETIME'> column_name='updated_at'", name='suggest_data_type', id='bf579ca8-e1ec-4ee4-b87f-900cb9d5292e', tool_call_id='call_Xy1cM4Af2bd7ViBmJlvhYd7Z'),
  AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_k9RsL9j4uPR9zQub5QmBw4bD', 'function': {'arguments': '{"range":"G12:G20","sheet_name":"members","values":[["INT"],["VARCHAR"],["VARCHAR"],["INT"],["DATETIME"],["DATETIME"]]}', 'name': 'write_values'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 46, 'prompt_tokens': 574, 'total_tokens': 620, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-45fc92f0-97ee-4b1b-bf7d-9a36f2917892-0', tool_calls=[{'name': 'write_values', 'args': {'range': 'G12:G20', 'sheet_name': 'members', 'values': [['INT'], ['VARCHAR'], ['VARCHAR'], ['INT'], ['DATETIME'], ['DATETIME']]}, 'id': 'call_k9RsL9j4uPR9zQub5QmBw4bD', 'type': 'tool_call'}], usage_metadata={'input_tokens': 574, 'output_tokens': 46, 'total_tokens': 620, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  ToolMessage(content='null', name='write_values', id='cabce41d-6deb-48ed-a4d5-49a2b01ce42f', tool_call_id='call_k9RsL9j4uPR9zQub5QmBw4bD'),
  AIMessage(content="The values from the range [F12:F20] in the 'members' sheet have been successfully converted to their most appropriate MySQL data types and filled in the corresponding cells in column G. Here are the results:\n\n- F12 ('id') -> G12 ('INT')\n- F13 ('name') -> G13 ('VARCHAR')\n- F14 ('email') -> G14 ('VARCHAR')\n- F15 ('authority_id') -> G15 ('INT')\n- F16 ('created_at') -> G16 ('DATETIME')\n- F17 ('updated_at') -> G17 ('DATETIME')", additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 123, 'prompt_tokens': 628, 'total_tokens': 751, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'stop', 'logprobs': None}, id='run-19d4f705-b9ad-4e43-8ef2-89e444ba0d88-0', usage_metadata={'input_tokens': 628, 'output_tokens': 123, 'total_tokens': 751, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}})]}

In [124]:
query_2 = "apply similar action for sheet named 'ship_labor_holidays'"

graph.invoke({"messages": [("user", query_2)]}, config=config)

/var/folders/g6/37kt02914kx36yzcbbqfyck00000gn/T/ipykernel_34454/3244738919.py:24: DeprecationWarning: The order of arguments in worksheet.update() has changed. Please pass values first and range_name secondor used named arguments (range_name=, values=)
  spreadsheet.worksheet(sheet_name).update(range, values)

{'messages': [HumanMessage(content="\nGet value from cell with range [F12:F20] in the sheet named 'members',\neach value should be converted to the most appropriate MySQL data type and fill the result\nin the G{same row index}.G{same row index} cell in the same sheet.\nEx: F12 value is 'user_name', the G12 cell should be filled with 'VARCHAR'.\n", additional_kwargs={}, response_metadata={}, id='b982eb20-44d0-4ecd-9243-31cab24085a3'),
  AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_Ryw8E3I89Mp99PQGdmkMrcVX', 'function': {'arguments': '{"range":"F12:F20","sheet_name":"members"}', 'name': 'read_values'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 23, 'prompt_tokens': 277, 'total_tokens': 300, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-563f2ca6-e70d-4092-ac4a-1611f28f4c00-0', tool_calls=[{'name': 'read_values', 'args': {'range': 'F12:F20', 'sheet_name': 'members'}, 'id': 'call_Ryw8E3I89Mp99PQGdmkMrcVX', 'type': 'tool_call'}], usage_metadata={'input_tokens': 277, 'output_tokens': 23, 'total_tokens': 300, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  ToolMessage(content='[["id"], ["name"], ["email"], ["authority_id"], ["created_at"], ["updated_at"]]', name='read_values', id='aa5cd29a-02d2-481d-a2c1-a0802985ce02', tool_call_id='call_Ryw8E3I89Mp99PQGdmkMrcVX'),
  AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_SXH8eE2us6BksV53C0U9ORuL', 'function': {'arguments': '{"value": "id"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_kWxl912fUSjGJ0LTrZsRECxB', 'function': {'arguments': '{"value": "name"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_CvLG5wRJ895yN4UQeCMfhJBC', 'function': {'arguments': '{"value": "email"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_6L7lXJakK3fwnDMZkxIVPF5s', 'function': {'arguments': '{"value": "authority_id"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_5Z0ZPdWPKDSSgyQBUU4Pns84', 'function': {'arguments': '{"value": "created_at"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_Xy1cM4Af2bd7ViBmJlvhYd7Z', 'function': {'arguments': '{"value": "updated_at"}', 'name': 'suggest_data_type'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 116, 'prompt_tokens': 329, 'total_tokens': 445, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-aa41a7e8-50d0-44e7-b1d4-4992ab1018f9-0', tool_calls=[{'name': 'suggest_data_type', 'args': {'value': 'id'}, 'id': 'call_SXH8eE2us6BksV53C0U9ORuL', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'name'}, 'id': 'call_kWxl912fUSjGJ0LTrZsRECxB', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'email'}, 'id': 'call_CvLG5wRJ895yN4UQeCMfhJBC', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'authority_id'}, 'id': 'call_6L7lXJakK3fwnDMZkxIVPF5s', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'created_at'}, 'id': 'call_5Z0ZPdWPKDSSgyQBUU4Pns84', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'updated_at'}, 'id': 'call_Xy1cM4Af2bd7ViBmJlvhYd7Z', 'type': 'tool_call'}], usage_metadata={'input_tokens': 329, 'output_tokens': 116, 'total_tokens': 445, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  ToolMessage(content="column_type=<MySQLDataType.INT: 'INT'> column_name='id'", name='suggest_data_type', id='103d2360-bc99-4c6b-bef0-84605aeb01b6', tool_call_id='call_SXH8eE2us6BksV53C0U9ORuL'),
  ToolMessage(content="column_type=<MySQLDataType.VARCHAR: 'VARCHAR'> column_name='name'", name='suggest_data_type', id='e2e1566f-a990-4091-9f16-e7de047e0d75', tool_call_id='call_kWxl912fUSjGJ0LTrZsRECxB'),
  ToolMessage(content="column_type=<MySQLDataType.VARCHAR: 'VARCHAR'> column_name='email'", name='suggest_data_type', id='fa94046c-702d-4292-bff1-31b58991dc4d', tool_call_id='call_CvLG5wRJ895yN4UQeCMfhJBC'),
  ToolMessage(content="column_type=<MySQLDataType.INT: 'INT'> column_name='authority_id'", name='suggest_data_type', id='234332c4-bf27-4562-89d2-7edb4cfbb77b', tool_call_id='call_6L7lXJakK3fwnDMZkxIVPF5s'),
  ToolMessage(content="column_type=<MySQLDataType.DATETIME: 'DATETIME'> column_name='created_at'", name='suggest_data_type', id='00512b3b-3552-452b-bca2-e133fce400b0', tool_call_id='call_5Z0ZPdWPKDSSgyQBUU4Pns84'),
  ToolMessage(content="column_type=<MySQLDataType.DATETIME: 'DATETIME'> column_name='updated_at'", name='suggest_data_type', id='bf579ca8-e1ec-4ee4-b87f-900cb9d5292e', tool_call_id='call_Xy1cM4Af2bd7ViBmJlvhYd7Z'),
  AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_k9RsL9j4uPR9zQub5QmBw4bD', 'function': {'arguments': '{"range":"G12:G20","sheet_name":"members","values":[["INT"],["VARCHAR"],["VARCHAR"],["INT"],["DATETIME"],["DATETIME"]]}', 'name': 'write_values'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 46, 'prompt_tokens': 574, 'total_tokens': 620, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-45fc92f0-97ee-4b1b-bf7d-9a36f2917892-0', tool_calls=[{'name': 'write_values', 'args': {'range': 'G12:G20', 'sheet_name': 'members', 'values': [['INT'], ['VARCHAR'], ['VARCHAR'], ['INT'], ['DATETIME'], ['DATETIME']]}, 'id': 'call_k9RsL9j4uPR9zQub5QmBw4bD', 'type': 'tool_call'}], usage_metadata={'input_tokens': 574, 'output_tokens': 46, 'total_tokens': 620, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  ToolMessage(content='null', name='write_values', id='cabce41d-6deb-48ed-a4d5-49a2b01ce42f', tool_call_id='call_k9RsL9j4uPR9zQub5QmBw4bD'),
  AIMessage(content="The values from the range [F12:F20] in the 'members' sheet have been successfully converted to their most appropriate MySQL data types and filled in the corresponding cells in column G. Here are the results:\n\n- F12 ('id') -> G12 ('INT')\n- F13 ('name') -> G13 ('VARCHAR')\n- F14 ('email') -> G14 ('VARCHAR')\n- F15 ('authority_id') -> G15 ('INT')\n- F16 ('created_at') -> G16 ('DATETIME')\n- F17 ('updated_at') -> G17 ('DATETIME')", additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 123, 'prompt_tokens': 628, 'total_tokens': 751, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'stop', 'logprobs': None}, id='run-19d4f705-b9ad-4e43-8ef2-89e444ba0d88-0', usage_metadata={'input_tokens': 628, 'output_tokens': 123, 'total_tokens': 751, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  HumanMessage(content="apply similar action for sheet named 'ship_labor_holidays'", additional_kwargs={}, response_metadata={}, id='921d75ab-c9fe-49e9-a00b-7580f1845a26'),
  AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_mbBIFl9NnHnMVgbwaB6eYI6H', 'function': {'arguments': '{"range":"F12:F20","sheet_name":"ship_labor_holidays"}', 'name': 'read_values'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 27, 'prompt_tokens': 770, 'total_tokens': 797, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-48559e1c-3e94-4a5b-8698-207b8730b157-0', tool_calls=[{'name': 'read_values', 'args': {'range': 'F12:F20', 'sheet_name': 'ship_labor_holidays'}, 'id': 'call_mbBIFl9NnHnMVgbwaB6eYI6H', 'type': 'tool_call'}], usage_metadata={'input_tokens': 770, 'output_tokens': 27, 'total_tokens': 797, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  ToolMessage(content='[["id"], ["ship_sailor_id"], ["attendance_at"], ["holiday"], ["holiday_type"], ["holiday_count"], ["created_at"], ["updated_at"]]', name='read_values', id='b1a67cdf-66b5-468b-b6d4-5a5acfc6a422', tool_call_id='call_mbBIFl9NnHnMVgbwaB6eYI6H'),
  AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_ZE77x0DhXVFyI2SnkVZTEzw4', 'function': {'arguments': '{"value": "id"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_GFPQIju4xG7D6Jhehllvtspb', 'function': {'arguments': '{"value": "ship_sailor_id"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_QhzftTVmarsb88qS3bvEN5gx', 'function': {'arguments': '{"value": "attendance_at"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_JiSVjVtW3q3dVG3fRprKzQOf', 'function': {'arguments': '{"value": "holiday"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_O9fsmtK08g3fVwZf6mpt231S', 'function': {'arguments': '{"value": "holiday_type"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_L9kbMH9w368obaY5wmdcR35w', 'function': {'arguments': '{"value": "holiday_count"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_LCUiR0f1NeoyETZilqs3h3Ao', 'function': {'arguments': '{"value": "created_at"}', 'name': 'suggest_data_type'}, 'type': 'function'}, {'id': 'call_WEdTSVJC6IHDYub4fgC0GhpR', 'function': {'arguments': '{"value": "updated_at"}', 'name': 'suggest_data_type'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 154, 'prompt_tokens': 838, 'total_tokens': 992, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-4fe8f145-9b2b-4499-9d09-326744e77e37-0', tool_calls=[{'name': 'suggest_data_type', 'args': {'value': 'id'}, 'id': 'call_ZE77x0DhXVFyI2SnkVZTEzw4', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'ship_sailor_id'}, 'id': 'call_GFPQIju4xG7D6Jhehllvtspb', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'attendance_at'}, 'id': 'call_QhzftTVmarsb88qS3bvEN5gx', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'holiday'}, 'id': 'call_JiSVjVtW3q3dVG3fRprKzQOf', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'holiday_type'}, 'id': 'call_O9fsmtK08g3fVwZf6mpt231S', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'holiday_count'}, 'id': 'call_L9kbMH9w368obaY5wmdcR35w', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'created_at'}, 'id': 'call_LCUiR0f1NeoyETZilqs3h3Ao', 'type': 'tool_call'}, {'name': 'suggest_data_type', 'args': {'value': 'updated_at'}, 'id': 'call_WEdTSVJC6IHDYub4fgC0GhpR', 'type': 'tool_call'}], usage_metadata={'input_tokens': 838, 'output_tokens': 154, 'total_tokens': 992, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  ToolMessage(content="column_type=<MySQLDataType.INT: 'INT'> column_name='id'", name='suggest_data_type', id='57552801-200c-47fd-938e-7fc0c19987a4', tool_call_id='call_ZE77x0DhXVFyI2SnkVZTEzw4'),
  ToolMessage(content="column_type=<MySQLDataType.BIGINT: 'BIGINT'> column_name='ship_sailor_id'", name='suggest_data_type', id='754c8d8f-1f2a-4d40-9a22-3d5ab78e5734', tool_call_id='call_GFPQIju4xG7D6Jhehllvtspb'),
  ToolMessage(content="column_type=<MySQLDataType.DATETIME: 'DATETIME'> column_name='attendance_at'", name='suggest_data_type', id='a544577b-60fa-4b6f-beaf-8af495b1e4b9', tool_call_id='call_QhzftTVmarsb88qS3bvEN5gx'),
  ToolMessage(content="column_type=<MySQLDataType.DATE: 'DATE'> column_name='holiday'", name='suggest_data_type', id='d74c8f34-8112-42ca-b82c-e578c19ca406', tool_call_id='call_JiSVjVtW3q3dVG3fRprKzQOf'),
  ToolMessage(content="column_type=<MySQLDataType.ENUM: 'ENUM'> column_name='holiday_type'", name='suggest_data_type', id='c6ed10eb-0edd-4499-a4b4-44754695b70e', tool_call_id='call_O9fsmtK08g3fVwZf6mpt231S'),
  ToolMessage(content="column_type=<MySQLDataType.TINYINT: 'TINYINT'> column_name='holiday_count'", name='suggest_data_type', id='1417503b-4eae-4e82-b13d-a05217aad20f', tool_call_id='call_L9kbMH9w368obaY5wmdcR35w'),
  ToolMessage(content="column_type=<MySQLDataType.DATETIME: 'DATETIME'> column_name='created_at'", name='suggest_data_type', id='7c46c4ca-e972-4918-8837-ae5f0b8788bb', tool_call_id='call_LCUiR0f1NeoyETZilqs3h3Ao'),
  ToolMessage(content="column_type=<MySQLDataType.DATETIME: 'DATETIME'> column_name='updated_at'", name='suggest_data_type', id='6c1e7d82-a557-48ca-9d0e-e88a35bf8011', tool_call_id='call_WEdTSVJC6IHDYub4fgC0GhpR'),
  AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_03tqXP0eP79BeaC43wn5woNr', 'function': {'arguments': '{"range":"G12:G20","sheet_name":"ship_labor_holidays","values":[["INT"],["BIGINT"],["DATETIME"],["DATE"],["ENUM"],["TINYINT"],["DATETIME"],["DATETIME"]]}', 'name': 'write_values'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 60, 'prompt_tokens': 1172, 'total_tokens': 1232, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-90e067ce-b31f-40f8-bd49-85b398ea3355-0', tool_calls=[{'name': 'write_values', 'args': {'range': 'G12:G20', 'sheet_name': 'ship_labor_holidays', 'values': [['INT'], ['BIGINT'], ['DATETIME'], ['DATE'], ['ENUM'], ['TINYINT'], ['DATETIME'], ['DATETIME']]}, 'id': 'call_03tqXP0eP79BeaC43wn5woNr', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1172, 'output_tokens': 60, 'total_tokens': 1232, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
  ToolMessage(content='null', name='write_values', id='2e2851a6-1a2b-4d3b-9ff8-bb8c7aaad575', tool_call_id='call_03tqXP0eP79BeaC43wn5woNr'),
  AIMessage(content="The values from the range [F12:F20] in the 'ship_labor_holidays' sheet have been successfully converted to their most appropriate MySQL data types and filled in the corresponding cells in column G. Here are the results:\n\n- F12 ('id') -> G12 ('INT')\n- F13 ('ship_sailor_id') -> G13 ('BIGINT')\n- F14 ('attendance_at') -> G14 ('DATETIME')\n- F15 ('holiday') -> G15 ('DATE')\n- F16 ('holiday_type') -> G16 ('ENUM')\n- F17 ('holiday_count') -> G17 ('TINYINT')\n- F18 ('created_at') -> G18 ('DATETIME')\n- F19 ('updated_at') -> G19 ('DATETIME')", additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 161, 'prompt_tokens': 1240, 'total_tokens': 1401, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 1152}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_5f20662549', 'finish_reason': 'stop', 'logprobs': None}, id='run-bfc50bbc-1a7d-4767-bbed-5beff58c75a7-0', usage_metadata={'input_tokens': 1240, 'output_tokens': 161, 'total_tokens': 1401, 'input_token_details': {'audio': 0, 'cache_read': 1152}, 'output_token_details': {'audio': 0, 'reasoning': 0}})]}

In [15]:
import pandas as pd
import lotus
from lotus.models import LM

# configure the LM, and remember to export your API key
lm = LM(model="gpt-4o-mini")
lotus.settings.configure(lm=lm)

# create dataframes with course names and skills
courses_data = {
    "Course Name": [
        "History of the Atlantic World",
        "Riemannian Geometry",
        "Operating Systems",
        "Food Science",
        "Compilers",
        "Intro to computer science",
    ]
}
skills_data = {"Skill": ["Math", "Computer Science"]}
courses_df = pd.DataFrame(courses_data)
skills_df = pd.DataFrame(skills_data)

# lotus sem join 
res = courses_df.sem_join(skills_df, "Taking {Course Name} will help me learn {Skill}")
print(res)

Join comparisons: 100%|██████████ 12/12 LM Calls [00:03<00:00,  3.44it/s]

                 Course Name             Skill
1        Riemannian Geometry              Math
2          Operating Systems  Computer Science
4                  Compilers              Math
4                  Compilers  Computer Science
5  Intro to computer science              Math
5  Intro to computer science  Computer Science